.topBanner{
    width: 100%;
    height: 100%;
}
.topBanner img{
    width: 100%;
}
.topNav{
    width: 100%;
    height: 35px;
    background-color: rgb(17, 17, 17);
}
.topNav .wra{
    width: 1100px;
    margin: 0 auto;
}
.topNav a{
    color: #999;
    font-size: 12px;
    line-height: 35px;
}
.topNav .leftNav{
    float: left;
    /* margin-left: 150px; */
}
.topNav .leftNav a{
    padding-left: 15px;
}
.topNav .leftNav a:hover{
    color: whitesmoke;
}
.topNav .leftNav span{
    color: #999;
    font-size: 12px;
    line-height: 35px;
}
/* .topNav .leftNav{
    position: relative;
} */
/* .topNav .leftNav .ewm-hidden{
    z-index: 1;
    /* display: none; */
    /* background-color: whitesmoke; */
    /* position: absolute;
    left: 170px;
    width: 120px;
    height: 150px; */
/* } */ 
/* .leftNav .phone{
    position: relative;
} */
/* .leftNav .phone .ewm-hidden{
    display: none;
    z-index: 10;
    background: #b0a2b9dc;
    width: 100px;
}
.topNav .leftNav .ewm-hidden img{
    width: 100%;
}
.topNav .leftNav .ewm-hidden p{
    font-size: 8px;
    color: black;
} */
/* .topNav .leftNav .phone:hover .topNav .leftNav .ewm-hidden{ */
    /* display: block;
} */
.topNav .rightNav{
    position: relative;
    float:right;
    /* margin-right: 150px; */
}
.topNav .rightNav .clear li{
    float: left;
}
.topNav .rightNav .clear a{
    padding-right: 25px;
}
.topNav .rightNav .person .person-hidden,.topNav .rightNav .guest .guest-hidden,.topNav .rightNav .center .center-hidden,.topNav .rightNav .buy .buy-hidden,.topNav .rightNav .more .more-hidden{
    position: absolute;
    top: 35px;
    z-index: 1;
    display: none;
    background-color: rgb(216, 213, 209);
}
.topNav .rightNav .person:hover .person-hidden,.topNav .rightNav .guest:hover .guest-hidden,.topNav .rightNav .center:hover .center-hidden,.topNav .rightNav .buy:hover .buy-hidden,
.topNav .rightNav .more:hover .more-hidden{
    display: block;
}
.topNav .rightNav .person li,.topNav .rightNav .guest li,.topNav .rightNav .center li,.topNav .rightNav .buy li,.topNav .rightNav .more li{
    float: none;
}
.topNav .rightNav .person li a,.topNav .rightNav .guest li a,.topNav .rightNav .center li a,.topNav .rightNav .buy li a,.topNav .rightNav .more li a{
    box-sizing: border-box;
    border-bottom: 1px solid #e2e4e3;
    font-size: 12px;
    height: 10px;
    line-height: 10px;
}
.topNav .rightNav a:hover{
    color: rgb(124, 115, 115);
}
/* .topNav .rightNav .person:hover{
    background-color: white;
} */
.middleNav{
    width: 1200px;
    margin: 25px auto;
}
.middleNav .logo{
    float: left;
    margin-left: 150px;
    width: 200px;
    height: 60px;
}
.middleNav .logo img{
    width: 100%;
}
.middleNav .search{
    margin-left: 80px;
    margin-top: 10px;
    float: left;
    width: 500px;
    height: 40px;
    border: 2px solid rgb(194, 7, 69);
    border-radius: 30px;
}
.middleNav .search .onSearch{
    float: right;
    width: 60px;
    height: 40px;
    background-color: rgba(231, 25, 10, 0.822);
    border-radius: 30px;
    /* background: url(../images/sou.png) no-repeat center center; */
}
.middleNav .search .onSearch img{
    margin-top: 10px;
    margin-left: 23px;
}
.middleNav .car{
    float: right;
    margin-right: 50px;
    margin-top: 8px;
    width: 100px;
    height: 40px;
    border: 2px solid rgb(233, 16, 88);
    border-radius: 30px;
}
.middleNav .car .shop{
    margin-top: 8px;
    margin-left: 10px;
    float: left;
}
.middleNav .car p{
    float: right;
    font-size: 15px;
    margin-top: 8px;
    padding-right: 10px;

}
.middleNav .car:hover{
    background-color: rgba(233, 16, 88, 0.116);
}
/* .zhong{
    width: 1000px;
} */
.bottomNav{
    width: 700px;
    margin: 0 auto;
}
.bottomNav ul{
    margin-left: 30px;
}
.bottomNav ul li{
    float: left;
    padding-left: 40px;
}
.bottomNav ul li a{
    color: black;
    font-weight: bold;
}
.bottomNav ul li.active a{
    color: rgb(230, 28, 55);
}
.bottomNav ul li a:hover{
    color: rgb(230, 28, 55);
}


.lunbo {
	position: relative;
	box-sizing: border-box;
	margin: 20px auto;
	width: 100%;
	height: 506px;
	overflow: hidden;
}

.lunbo .wrapper {
	/* 让WRAPPER相对于容器定位，后期的左右运动是修改WRAPPER的LEFT样式值即可 */
	position: absolute;
	top: 0;
	left: 0;

	/*WIDTH 需要根据SLIDER（包含克隆的）动态计算出来的 */
	display: flex;
	box-sizing: border-box;
	/* width: 4000px; */
	height: 100%;

	/* 基于CSS3中的过渡动画实现切换中的动画效果 */
	transition: left .3s linear 0s;
}

.lunbo .wrapper .slider {
    /* 每一个SLIDER的宽度和CONTAINER的宽度保持一致 */
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* .lunbo .wrapper .slider img {
	width: 100%;
	height: 100%;
} */

/* 分页器 */
.pagination {
	position: absolute;
	z-index: 999;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	padding: 5px 10px;
	/* background: rgba(255, 255, 255, .3); */
	font-size: 0;
	border-radius: 26px;
}

.pagination li {
	display: inline-block;
	margin: 0 10px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: rgb(245, 246, 247);
	cursor: pointer;
}

.pagination li.active {
	background: lightcoral;
}

/* 左右按钮 */
.arrow {
	display: none;
	position: absolute;
	z-index: 999;
	top: 50%;
	margin-top: -22.5px;
	width: 30px;
	height: 45px;
	background: url(../images/pre.png) no-repeat 0 0;
}

.arrow.changeLeft {
	left: 400px;
}

.arrow.changeRight {
	right: 200px;
	background-position: -50px 0;
}

.lunbo:hover .arrow {
	display: block;
}
.shopList{
    position: absolute;
    top: 208px;
    left: 200px;
    width: 150px;
    height: 506px;
    background-color: rgba(233, 16, 88, 0.918);;
}
.shopList p{
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
}
.shopList ul li{
    border-top: 1px solid #f3faf38f;
}
.shopList span{
    display: inline-block;
    padding-top: 20px;
    padding-left: 15px;
    font-size: 14px;
    cursor: pointer;
    color: white;
}
.shopList .bea{
    border-top: none;
    /* margin-top: 12px; */
    font-size: 14px;
    color: white;
    cursor: pointer;
}
/* .shopList .bea:hover{
    background: white;
} */
.shopList .bea i{
    display: inline-block;
    vertical-align: middle;
    background: url(../images/icon1-2.png) no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.shopList i{
    display: inline-block;
    vertical-align: middle;
    background: url(../images/icon1-2.png) no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.shopList b{
    display: inline-block;
    vertical-align: middle;
    /* padding-left: 10px; */
    position: absolute;
    right: 10px;
}
.shopList .mei-hidden,.shopList .ying-hidden,.yang-hidden,.number-hidden,.wash-hidden,.shoes-hidden,.child-hidden,.hand-hidden,.qs-hidden,.home-hidden,.food-hidden{
    display: none;
    z-index: 999;
    position: absolute;
    top: 40px;
    left: 150px;
    width: 890px;
    height: 465px;
    background-color: white;
    border: 1px solid rgb(224, 55, 83);
}
.shopList .mei-hidden .left-hidden,.shopList .ying-hidden .left-hidden,.shopList .yang-hidden .left-hidden,.shopList .number-hidden .left-hidden,.shopList .wash-hidden .left-hidden,.shopList .shoes-hidden .left-hidden,.shopList .child-hidden .left-hidden,.shopList .child-hidden .left-hidden,.shopList .hand-hidden .left-hidden,.shopList .qs-hidden .left-hidden,.shopList .home-hidden .left-hidden,.shopList .food-hidden .left-hidden{
    float: left;
    margin-left: 20px;
}
.shopList .mei-hidden .humian,.shopList .ying-hidden .humian,.shopList .yang-hidden .humian,.shopList .number-hidden .humian,.shopList .wash-hidden .humian,.shopList .shoes-hidden .humian,.shopList .child-hidden .humian,.shopList .hand-hidden .humian,.shopList .qs-hidden .humian,.shopList .home-hidden .humian,.shopList .food-hidden .humian{
    margin-top: 10px;
}
.shopList .mei-hidden .fu,.shopList .ying-hidden .fu,.shopList .yang-hidden .fu,.shopList .number-hidden .fu,.shopList .wash-hidden .fu,.shopList .shoes-hidden .fu,.shopList .child-hidden .fu,.shopList .hand-hidden .fu,.shopList .qs-hidden .fu,.shopList .home-hidden .fu,.shopList .food-hidden .fu{
    float: left;
    padding-left: 10px;
}
.shopList .mei-hidden h5,.shopList .ying-hidden h5,.shopList .yang-hidden h5,.shopList .number-hidden h5,.shopList .wash-hidden h5,.shopList .shoes-hidden h5,.shopList .child-hidden h5,.shopList .hand-hidden h5,.shopList .qs-hidden h5,.shopList .home-hidden h5,.shopList .food-hidden h5{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #e7e7e7;
}
.shopList .mei-hidden .fu .list1,.shopList .ying-hidden .fu .list1,.shopList .yang-hidden .fu .list1,.shopList .number-hidden .fu .list1,.shopList .wash-hidden .fu .list1,.shopList .shoes-hidden .fu .list1,.shopList .child-hidden .fu .list1,.shopList .hand-hidden .fu .list1,.shopList .qs-hidden .fu .list1,.shopList .home-hidden .fu .list1,.shopList .food-hidden .fu .list1{
    box-sizing: border-box;
    /* margin-top: 20px; */
    width: 250px;
}
.shopList .mei-hidden .list1 a,.shopList .ying-hidden .list1 a,.shopList .yang-hidden .list1 a,.shopList .number-hidden .list1 a,.shopList .wash-hidden .list1 a,.shopList .shoes-hidden .list1 a,.shopList .child-hidden .list1 a,.shopList .hand-hidden .list1 a,.shopList .qs-hidden .list1 a,.shopList .home-hidden .list1 a,.shopList .food-hidden .list1 a{
    display: inline-block;
    box-sizing: border-box;
    color:black;
    font-size: 14px;
    padding-left: 2px;
    padding-top: 15px;
}
.shopList .mei-hidden .list1 a:hover{
    text-decoration: black;
}
.shopList .mei-hidden .list1 .active,.shopList .ying-hidden .list1 .active,.shopList .yang-hidden .list1 .active,.shopList .number-hidden .list1 .active,.shopList .wash-hidden .list1 .active,.shopList .shoes-hidden .list1 .active,.shopList .child-hidden .list1 .active,.shopList .hand-hidden .list1 .active,.shopList .qs-hidden .list1 .active,.shopList .home-hidden .list1 .active,.shopList .food-hidden .list1 .active{
    color: rgb(224, 55, 83);
    
}
.shopList .mei-hidden .list1 .active:hover{
    text-decoration: rgb(224, 55, 83);
}
.shopList .mo{
    float: left;
    padding-left: 10px;
}
.shopList .right-hidden{
    box-sizing: border-box;
    margin-left: 90px;
    float: left;
    width: 215px;
    /* background: #e6e6e6; */
}

.shopList .right-hidden li{
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}
.shopList .right-hidden li img{
    width: 100px;
    height: 100px;
}
.shopList .right-hidden .down{
    margin-top: 60px;
    background: white;
}
.shopList .right-hidden .down .picture{
    float: left;
}
.shopList .right-hidden .down img{

}
.shopList .right-hidden .down .jinru{
    float: left;
}
.shopList .right-hidden .down p{
    margin-top: 10px;
    font-size: 15px;
    color: black;
}
.shopList .right-hidden .down .enter{
    margin-top: 10px;
    text-align: center;
    color: black;
    width: 80px;
    height: 25px;
    border: 1px solid black;
    cursor: pointer;
}

.shopList .mei:hover .mei-hidden{ 
    display: block;
}
.shopList .ying:hover .ying-hidden{ 
    display: block;
}
.shopList .yang:hover .yang-hidden{ 
    display: block;
}
.shopList .dian:hover .number-hidden{ 
    display: block;
}
.shopList .person:hover .wash-hidden{ 
    display: block;
}
.shopList .coat:hover .shoes-hidden{ 
    display: block;
}
.shopList .sport:hover .child-hidden{ 
    display: block;
}
.shopList .pei:hover .hand-hidden{ 
    display: block;
}
.shopList .qing:hover .qs-hidden{ 
    display: block;
}
.shopList .life:hover .home-hidden{ 
    display: block;
}
.shopList .huan:hover .food-hidden{ 
    display: block;
}
.show{
    position: absolute;
    bottom: 98px;
    width: 100%;
    height: 40px;
    background: rgba(7, 7, 7, 0.342);
}
.show .ju{
    width: 950px;
    margin: 0 auto;
}
.show .ju ul{
    padding-left: -35px;
    float: left;
}
.show .ju ul li{
    float: left;
}
.show .ju ul li a{
    color: white;
    font-size: 13px;
    padding-left: 35px;
    line-height: 42px;
}
.show .ju .nee{
    float: right;
}
.show .nee{
    box-sizing: border-box;
    margin-top: 8px;
}
.show .nee a{
    color: white;
    font-size: 13px;
}
.show .ju .nee i{
    display: inline-block;
    vertical-align: middle;
    background: url(../images/icon2-0.png) no-repeat;
    width: 20px;
    height: 20px;
}
.together{
    width: 1000px;
    margin: 0 auto;
}
.mai{
    width: 1000px;
    margin: 0 auto;
}
.mai img{
    width: 1000px;
}
.hot{
    margin-top: 80px;
}
.hot .titleLeft{
    float:left;
}
.hot{
    margin-top: 20px;
    height: 40px;
}
.hot h4{
    float: left;
    font-size: 22px;
    line-height: 40px;
}
.hot p{
    padding-left: 20px;
    float: left;
    font-size: 14px;
    line-height: 40px;
    color: #7a7a7a;
}
.hot .titleRight{
    padding-right: 20px;
    float: right;
}
.hot .titleRight a{
    color: rgb(131, 126, 126);
    line-height: 12px;
}

.container {
	position: relative;
	/* margin: 0 auto; */
	width: 181px;
	height: 181px; 
	overflow: hidden;
}

.container .wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.container .wrapper .slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	/* 初始默认样式 */
	z-index: 0;
	opacity: 0;

	/* 动画 */
	transition: opacity .3s;
}

/* 默认展示第一张图片 */
.container .wrapper .slide:nth-child(1) {
	z-index: 1;
	opacity: 1;
}

.container .wrapper .slide img {
	width: 100%;
	height: 100%;
}

/* 分页器 */
.pagination {
	position: absolute;
	z-index: 999;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	padding: 5px 10px;
	background: rgba(255, 255, 255, .3);
	font-size: 0;
	border-radius: 26px;
}

.pagination li {
	display: inline-block;
	margin: 0 10px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: lightblue;
	cursor: pointer;
}

.pagination li.active {
	background: lightcoral;
}

/* 左右按钮 */
.arrow {
	display: none;
	position: absolute;
	z-index: 999;
	top: 50%;
	margin-top: -22.5px;
	width: 30px;
	height: 45px;
	background: url(../images/pre.png) no-repeat 0 0;
}

.arrow.changeLeft {
	left: 0;
}
.arrow.changeRight {
	right: 0;
	background-position: -50px 0;
}

.container:hover .arrow {
	display: block;
}

